{% extends 'base.html' %}

{% block content %}
<form id="addFeedForm" class="py-5">
	<div class="mb-3">
		<label for="feedNameInput" class="form-label">Feed Name</label>
		<input type="text" class="form-control" id="feedNameInput" aria-describedby="feedNameHelp" required>
		<div id="feedNameHelp" class="form-text">Give the feed a nickname of your choice.</div>
	</div>
	<div class="mb-3">
		<label for="feedLinkInput" class="form-label">Feed Link</label>
		<input type="url" class="form-control" id="feedLinkInput" aria-describedby="feedLinkHelp" required>
		<div id="feedLinkHelp" class="form-text">Enter the link of an RSS feed.</div>
	</div>
	<button type="submit" class="btn btn-primary">Add</button>
</form>
<div id="alertMessage" class="alert alert-warning mt-4 d-none" role="alert"></div>
{% endblock %}